.search-form{
    width: 100%;
    max-width: 680px;
    margin: 12px;

}
.search-form-elem{
    padding: 1.4rem 2.7rem;
    border-radius: 2.6rem;
}
.search-form-elem .form-control{
    font-size:2rem;
    padding: 0.6rem;
}